.sign-npc-listitem {
	background-color: #fff;
    width: 200px;
    margin-bottom: 5px;
}
.sign-npc-btn {
	background-color: #04ef18;
}

.has-signed {
	background-color: #04ef18;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
}
.has-not-signed {
	background-color: #ff0000;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
}