div.navbar {
	background-color: #135ca4;
	color: #fff;
}
li.active {
	background-color: #4d8fd1;
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-text {
	color: #fff;
}